<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniform.zoomintobooks"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZoomIntoBooks">
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".ContactActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".SelectBookActivity" />
        <activity android:name=".BarcodeScanActivity" />
        <activity android:name="main.java.com.uniform.zoomintobooks.AugmentedImageActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <meta-data android:name="com.google.ar.core" android:value="required" />
    </application>

</manifest>