/*
 * General
 */

i {
    font-style: italic;
}

body {
    font-family: open-sans, sans;
    margin: 0;
    padding: 0;
    background-color: #EEE;
}

/*
 * Header
 */

header {
    padding: 10px 10px 5px 10px;
    background-color: #523A1A;
    background-image: linear-gradient(to right, #C7AF8F, #523A1A);
    box-shadow: 0 0 5px #333;
}

header * {
    font-family: proza-libre, sans;
    color: #FFF;
    text-decoration: none;
}

h1 {
    display: inline-block;
    margin: 0;
}

#header-nav {
    margin-top: 10px;
    float: right;
}

#header-nav a {
    padding: 5px;
    border-radius: 3px;
}

#header-nav a:hover {
    background-color: #FFF;
    color: #523A1A;
    box-shadow: inset 0 0 3px #666;
}

/*
 * Body
 */

main {
    margin: auto 100px;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 0 5px #666;
}

h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    color: white;
    background-color: #523A1A;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    padding: 20px;
    display: block;
    height: 160px;
    width: 160px;
    text-align: center;
}

.card:hover {
    background-color: #C7AF8F;
    box-shadow: 0 0 3px #666;
}

.card img {
    margin-bottom: 10px;
}

.card .card-label {
    display: inline-block;
}

.errors {
    padding: 10px;
    background-color: #97574E;
    margin: 10px;
    color: #FFF;
    box-shadow: 0 0 3px #97574E;
}

.success {
    padding: 10px;
    background-color: #52974E;
    margin: 10px;
    color: #FFF;
    box-shadow: 0 0 3px #52974E;
}

.card-list-item {
    display: block;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #523A1A;
    color: #523A1A;
    margin: 20px;
    padding: 20px;
    display: block;
}

.card-list-item:hover {
    border: 1px solid #C7AF8F;
    box-shadow: 0 0 3px #666;
}

.card-list-add-item {
    background-color: #523A1A;
    border: 0;
    color: #FFF;
    font-size: 1.2em;
}

.card-list-add-item:hover {
    background-color: #C7AF8F;
    border: 0;
}

.card-list-add-item img {
    height: 50px;
    vertical-align: middle;
    margin-right: 15px;
}
