/*
 * Light blue: #4E7696
 * Dark blue: #213D54
 */

/*
 * General
 */

i {
    font-style: italic;
}

body {
    font-family: open-sans, sans;
    margin: 0;
    padding: 0;
    background-color: #EEE;
}

/*
 * Header
 */

header {
    padding: 10px 10px 5px 10px;
    background-color: #213D54;
    background-image: linear-gradient(to right, #4E7696, #213D54);
    box-shadow: 0 0 5px #333;
}

header * {
    font-family: proza-libre, sans;
    color: #FFF;
    text-decoration: none;
}

h1 {
    display: inline-block;
    margin: 0;
}

#header-nav {
    margin-top: 10px;
    float: right;
}

#header-nav a {
    padding: 5px;
    border-radius: 3px;
}

#header-nav a:hover {
    background-color: #FFF;
    color: #213D54;
    box-shadow: inset 0 0 3px #666;
}

/*
 * Body
 */

main {
    margin: auto 100px;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 0 5px #666;
}

h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    color: white;
    background-color: #213D54;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    height: 160px;
    width: 160px;
    padding: 20px;
    text-align: center;
    display: block;
}

.card:hover {
    background-color: #4E7696;
    box-shadow: 0 0 3px #666;
}

.card img {
    margin-bottom: 10px;
}

.card .card-label {
    display: inline-block;
}

.errors {
    padding: 10px;
    background-color: #97574E;
    margin: 10px;
    color: #FFF;
    box-shadow: 0 0 3px #97574E;
}

.success {
    padding: 10px;
    background-color: #52974E;
    margin: 10px;
    color: #FFF;
    box-shadow: 0 0 3px #52974E;
}
